{% extends "base.html" %}

{% block content %}
    <ul>
        <li><a href="{{url_for('all_events')}}">LIST ALL EVENTS</a></li>
        <li><a href="{{url_for('user_participated_events')}}">PARTCIPATED EVENTS</a></li>
        <li><a href="{{url_for('user_registered_events')}}">REGISTERED EVENTS</a></li>
        <li><a href="{{url_for('user_organized_events')}}">ORGANIZED EVENTS</a></li>
        <li><a href="{{url_for('archived_events')}}">ARCHIEVED EVENTS</a></li>
    </ul>
{% endblock content %}


