{% extends "base.html" %}

{% block content %}
    <div>
        <h2>{{title}}</h2>
        <ul>
            {% for event in events %}
                <li>
                    <h3>{{ event.name }}</h3>
                    <p><strong>Description:</strong> {{ event.description }}</p>
                    <p><strong>Date and Time:</strong> {{ event.date_time }}</p>
                    <p><strong>Duration:</strong> {{ event.duration }}</p>
                    <p><strong>Location:</strong> {{ event.location }}</p>
                    <p><strong>Organizer:</strong> {{ event.organizer.username }}</p>
                    {% if feedback_button %}
                        <form action="{{ url_for('show_feedback_form', event_id=event.id) }}" method="post" style="display: inline;">
                            <button  type="submit">Give Feedback</button>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
