{% extends "base.html" %}
{% block content %}
  <h2>Organize Event</h2>
  <form action="{{ url_for('organize_event') }}" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.name.label }}
      {{ form.name() }}
      {% if error %}
                   <p>{{error}}</p>
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.description.label }}
      {{ form.description() }}
    </div>
    <div class="form-group">
      {{ form.date_time.label }}
      {{ form.date_time() }}
    </div>
    <div class="form-group">
      {{ form.duration.label }}
      {{ form.duration() }}
    </div>
    <div class="form-group">
      {{ form.location.label }}
      {{ form.location() }}
    </div>
    <div class="form-group">
        {{ form.submit()}}
      </div>
  </form>
{% endblock %} 
